.window {
  height: 300px;
  width: 500px;
  background-color: rgb(34, 33, 33);
  border-radius: 0.75rem;
  overflow: hidden;
  color: rgb(219, 216, 216);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid rgba(245, 245, 245, 0.427);
    .dots {
      display: flex;
      gap: 0.25rem;
      .dot {
        height: 10px;
        width: 10px;
        background-color: black;
        border-radius: 50%;
      }

      .red {
        background-color: rgb(254, 49, 49);
      }

      .yellow {
        background-color: rgb(253, 253, 80);
      }

      .green {
        background-color: rgb(73, 250, 73);
      }
    }
  }
}
