.dock {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  gap: 0.5rem;
  transform: translateX(-50%);
  background-color: rgb(57, 57, 57);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 0.75rem;
  backdrop-filter: blur(5px);

  .icon {
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .icon:hover {
    transform: scale(1.25) translateY(-20%);
  }

  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1.15) translateY(-10%);
  }

  img {
    width: 1.25rem;
  }

  .github,
  .cli {
    background-color: black;
  }

  .note {
    background-color: #ffd52e;
  }

  .pdf {
    background-color: #eb0f00;
  }

  .calender,
  .mail {
    background-color: #4fadf2;
  }

  .spotify {
    background-color: #1ed760;
  }

  .link {
    background-color: #8939b9;
  }
}
